:root {
  --navbar-color: #1e2329;
  --white-color: #feffff;
  --total-color: #25aec3;
  --footer-color: #212529;
  --gray-color: #8f9091;
}

.btn-outline-white {
  color: white !important; 
  border-color: white !important;
}

.btn-outline-total-color {
  color: var(--total-color) !important; 
  border-color: var(--total-color) !important;
}

.btn-outline-total-color:hover {
  color: #4dd4eb !important; 
  border-color: #4dd4eb !important;
  background-color: rgba(77, 212, 235, 0.1); 
}

.btn-outline-white:hover,
.btn-outline-white:focus {
  background-color: white !important;
  color: var(--navbar-color) !important; 
}

.fs-smaller {
  font-size: .8rem !important;
}

.btn-total {
  border-color: var(--total-color);
  color: var(--total-color);
}

/** Header **/

.header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), 
    url('./assets/images/header.jpg'); 
  background-size: cover;
  height: 35dvh;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.header p {
  font-size: .8rem;
  font-weight: 500;
}

.header .line {
  width: 80%;
  border: none;
  border: .8px solid #e2dddd;
  margin-top: 10px;
}

.cards-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 60px 0;
}

.card img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body .title {
  border: .5px solid var(--gray-color);
  border-left: none;
  border-right: none;
  padding: 15px 0;
  font-size: 1.2rem;
}

.card-body .title h4 {
  font-weight: 600;
  margin-left: 10px;
}

.card-body .ingredients-box {
  border: .5px solid var(--gray-color);
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
  padding: 15px 0;
}

.ingredients-box .ingredients-title {
  font-size: 1rem;
  margin-bottom: 12px;
  color: var(--gray-color);
}

.ingredients-box .ingredients {
  font-size: .7rem;
}

.buy {
  border-top: none;
  padding: 15px 0;
  text-align: center;
}

.buy h4 {
  font-size: 1.3rem;
  font-weight: 500;
}

.buttons-buy {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.btn-ver-mas {
  border-color: #222;
  transition: all .3s ease-in-out;
}

.btn-ver-mas:hover {
  background-color: #222;
  color: var(--white-color)
}

.btn-añadir {
  background-color: #222;
  color: var(--white-color);
  transition: all .3s ease-in-out;
}

.btn-añadir:hover {
  border-color: #222;
  background-color: var(--white-color);
  color: #222;
}

.card {
  width: 350px;
  border: .5px solid var(--gray-color);
  border-radius: 12px;
  overflow: hidden;
}

/** Footer **/

.footer {
  background-color: var(--footer-color);
  color: var(--white-color);
  text-align: center;
  font-size: .9rem;
  padding: 25px;
}

.fondo-imagen {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), 
    url('./assets/images/bg-wooden.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100dvh;
}

.borde-gris {
  border: 1px solid rgba(200, 200, 200, 0.4); 
}

.appointment-form .form-control {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 14px;
    height: 58px !important;
    color: rgba(255, 255, 255, 0.9) !important;
    box-shadow: none !important;
    border-radius: 0px;
    border-color: transparent transparent rgba(255, 255, 255, 0.2) !important;
    border-image: initial !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
    background: transparent !important;
}

.appointment-form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.pizza-img {
  width: 200px;
}